*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.box_1{
    background-color: rgb(241, 114, 120);
    padding: 50px 45px 3px;
    display: block;
    height: 200px;
    width: 300px;
    box-sizing: border-box;
    margin: 40px 70px 70px 70px;
    overflow: hidden;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom:solid 5px rgb(43, 41, 41);
}
.box_2{
    background-color: rgb(241, 114, 120);
    padding: 50px 45px 3px;
    display: block;
    height: 200px;
    width: 300px;
    box-sizing: border-box;
    margin: 40px 70px 70px 70px;
    overflow: hidden;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom:solid 5px rgb(43, 41, 41);
}

.box_3{
    background-color: rgb(167, 255, 159);
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 2px 4px 6px 8px;
    /* opacity: 0.5; opacidad del contendor */
    margin: auto;
    text-align: center;
    align-items: center;
}

.box{
    border-top: solid 5px rgb(43, 41, 41);
    box-sizing: border-box;
    
}